body {
    margin: 0;
    padding: 0;
}

.grid {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1.5625% 96.875% 1.5625%;
    grid-template-rows: 17.5% 2.5% 37.5% 2.5% 37.5% 2.5%;
    grid-template-areas:
            "Header Header Header"
            ". . ."
            ". Graph ."
            ". . ."
            ". Score ."
            ". . .";

    background-color: rgb(51, 51, 51);
}

.BlockElement {
    background-color: rgb(89, 89, 89);
    border-color: pink;
    border-radius: 20px;
    border-width: 3px;
}

.HeaderBlock {
    grid-area: Header;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1.5625% 25% 42.1875% 29.6875% 1.5625%;
    grid-template-rows: calc((1*100%)/7.0) calc((5*100%)/7.0) calc((1*100%)/7.0);
    grid-template-areas:
            ". . . . ."
            ". HeaderLogo . HeaderTripData ."
            ". . . . .";

    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.HeaderLogoBlock {
    grid-area: HeaderLogo;
    width: 100%;
    height: 100%;

    background: url("Assets/HeaderLogo.svg") no-repeat;
}

.HeaderTripDataBlock {
    grid-area: HeaderTripData;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((2*100%)/19.0) calc((1*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((2*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((2*100%)/19.0);
    grid-template-rows: 40% 20% 40%;
    grid-template-areas:
            "TripDataTime TripDataTime TripDataTime TripDataTime TripDataTime TripDataDate TripDataDate TripDataDate TripDataDate TripDataDate"
            ". . . . . . . . . ."
            "TripDataCity1Logo . TripDataCity1 . TripDataArrow TripDataArrow . TripDataCity2 . TripDataCity2Logo";
}

.TripDataBlockElement {
    font-family: "Roboto Mono", sans-serif;
    font-size: 230%;
    color: white;
}

.TripDataTimeBlock {
    grid-area: TripDataTime;
    width: 100%;
    height: 100%;

    text-align: left;
}

.TripDataDateBlock {
    grid-area: TripDataDate;
    width: 100%;
    height: 100%;

    text-align: right;
}

.TripDataCity1Block {
    grid-area: TripDataCity1;
    width: 100%;
    height: 100%;

    text-align: left;
}

.TripDataCity2Block {
    grid-area: TripDataCity2;
    width: 100%;
    height: 100%;

    text-align: right;
}

.TripDataCity1LogoBlock {
    grid-area: TripDataCity1Logo;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataCityLogo.svg") no-repeat;
}

.TripDataCity2LogoBlock {
    grid-area: TripDataCity2Logo;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataCityLogo.svg") no-repeat;
}

.TripDataArrowBlock {
    grid-area: TripDataArrow;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataArrow.svg") no-repeat;
}




.GraphBlock {
    grid-area: Graph;
    width: 100%;
    height: 100%;
}

.ScoreBlock {
    grid-area: Score;
    width: 100%;
    height: 100%;
}
