* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}


.grid {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns:  calc((1*100%)/64.0) calc((43*100%)/64.0) calc((1*100%)/64.0) calc((18*100%)/64.0) calc((1*100%)/64.0);
    grid-template-rows: calc((7*100%)/40.0) calc((1*100%)/40.0) calc((18*100%)/40.0) calc((1*100%)/40.0) calc((12*100%)/40.0) calc((1*100%)/40.0);
    grid-template-areas:
        "HeaderBlock HeaderBlock HeaderBlock HeaderBlock HeaderBlock"
        ". . . . ."
        ". TripBlock . ScoreBlock ."
        ". TripBlock . . ."
        ". TripBlock ETABlock ETABlock ."
        ". . . . .";

    background-color: black;
}





.HeaderBlock {
    grid-area: HeaderBlock;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: calc((1*100%)/64.0) calc((6.5*100%)/64.0) calc((9.5*100%)/64.0) calc((7*100%)/64.0) calc((16*100%)/64.0) calc((4*100%)/64.0) calc((19*100%)/64.0) calc((1*100%)/64.0);
    grid-template-rows: calc((1*100%)/7.0) calc((2*100%)/7.0) calc((1*100%)/7.0) calc((2*100%)/7.0) calc((1*100%)/7.0);
    grid-template-areas:
            ". . . . . . . ."
            ". HeaderUserLink HeaderUserLink . HeaderLogo . HeaderTripDataSubblock ."
            ". . . . HeaderLogo . HeaderTripDataSubblock ."
            ". HeaderMenuLink . . HeaderLogo . HeaderTripDataSubblock ."
            ". . . . . . . .";

    background-color: yellow;
}

.HeaderUserLink{
    grid-area: HeaderUserLink;
    width: 100%;
    height: 100%;

    background: url("Assets/HeaderUserLink.svg") no-repeat;
}

.HeaderMenuLink{
    grid-area: HeaderMenuLink;
    width: 100%;
    height: 100%;

    background: url("Assets/HeaderMenuLink.svg") no-repeat;
}

.HeaderLogo {
    grid-area: HeaderLogo;
    width: 100%;
    height: 100%;

    background: url("Assets/HeaderLogo.svg") no-repeat;
}





.HeaderTripDataSubblock {
    grid-area: HeaderTripDataSubblock;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((2*100%)/19.0) calc((1*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((2*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((3*100%)/19.0) calc((1*100%)/19.0) calc((2*100%)/19.0);
    grid-template-rows: 40% 20% 40%;
    grid-template-areas:
            "TripDataTime TripDataTime TripDataTime TripDataTime TripDataTime TripDataDate TripDataDate TripDataDate TripDataDate TripDataDate"
            ". . . . . . . . . ."
            "TripDataCity1Logo . TripDataCity1Label . TripDataCityArrow TripDataCityArrow . TripDataCity2Label . TripDataCity2Logo";

    background-color: red;
}

.TripDataDate {
    grid-area: TripDataDate;
    width: 100%;
    height: 100%;

    background-color: green;
}

.TripDataTime {
     grid-area: TripDataTime;
     width: 100%;
     height: 100%;

     background-color: green;
 }

.TripDataCity1Label {
    grid-area: TripDataCity1Label;
    width: 100%;
    height: 100%;

    background-color: green;
}

.TripDataCity1Logo {
    grid-area: TripDataCity1Logo;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataCityLogo.svg") no-repeat;
}

.TripDataCity2Label {
    grid-area: TripDataCity2Label;
    width: 100%;
    height: 100%;

    background-color: green;
}

.TripDataCity2Logo {
    grid-area: TripDataCity2Logo;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataCityLogo.svg") no-repeat;
}

.TripDataCityArrow {
    grid-area: TripDataCityArrow;
    width: 100%;
    height: 100%;

    background: url("Assets/TripDataArrow.svg") no-repeat;
}





.TripBlock{
    grid-area: TripBlock;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: calc((1*100%)/43.0) calc((19*100%)/43.0) calc((2*100%)/43.0) calc((19*100%)/43.0) calc((1*100%)/43.0) calc((1*100%)/43.0);
    grid-template-rows: calc((1*100%)/31.0) calc((8*100%)/31.0) calc((1*100%)/31.0) calc((12*100%)/31.0) calc((1*100%)/31.0)  calc((1*100%)/31.0)  calc((5*100%)/31.0)  calc((1*100%)/31.0)  calc((1*100%)/31.0);
    grid-template-areas:
            ". . . . . ."
            ". Hoehengraph Hoehengraph Hoehengraph Hoehengraph ."
            ". . . . . ."
            ". SpeedSubblock SpeedSubblock SpeedSubblock SpeedSubblock ."
            ". . . . . ."
            ". BreakingSubblock . . . ."
            ". BreakingSubblock . FeedbackSubblock . ."
            ". BreakingSubblock . . . ."
            ". . . . . .";

    background-color: yellow;
}

.Hoehengraph {
    grid-area: Hoehengraph;
    width: 100%;
    height: 100%;

    background-color: red;
}





.SpeedSubblock {
    grid-area: SpeedSubblock;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((32*100%)/41.0) calc((1*100%)/41.0) calc((7*100%)/41.0) calc((1*100%)/41.0);
    grid-template-rows: calc((1*100%)/12.0) calc((2*100%)/12.0) calc((0.5*100%)/12.0) calc((2*100%)/12.0) calc((1*100%)/12.0) calc((2*100%)/12.0) calc((0.5*100%)/12.0) calc((2*100%)/12.0) calc((1*100%)/12.0);
    grid-template-areas:
            "SpeedGraph . . ."
            "SpeedGraph . CurrentSpeedLabel ."
            "SpeedGraph . . ."
            "SpeedGraph . CurrentSpeedValue ."
            "SpeedGraph . . ."
            "SpeedGraph . OptimalSpeedLabel ."
            "SpeedGraph . . ."
            "SpeedGraph . OptimalSpeedValue ."
            "SpeedGraph . . .";

    background-color: red;
}

.SpeedGraph {
    grid-area: SpeedGraph;
    width: 100%;
    height: 100%;

    background-color: green;
}

.CurrentSpeedLabel {
    grid-area: CurrentSpeedLabel;
    width: 100%;
    height: 100%;

    background-color: green;
}

.CurrentSpeedValue {
    grid-area: CurrentSpeedValue;
    width: 100%;
    height: 100%;

    background-color: green;
}

.OptimalSpeedLabel {
    grid-area: OptimalSpeedLabel;
    width: 100%;
    height: 100%;

    background-color: green;
}

.OptimalSpeedValue {
    grid-area: OptimalSpeedValue;
    width: 100%;
    height: 100%;

    background-color: green;
}





.BreakingSubblock {
    grid-area: BreakingSubblock;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((1*100%)/19.0) calc((17*100%)/19.0) calc((1*100%)/19.0);
    grid-template-rows: calc((1*100%)/7.0) calc((2*100%)/7.0) calc((1*100%)/7.0) calc((2*100%)/7.0) calc((1*100%)/7.0);
    grid-template-areas:
            ". . ."
            ". BreakingLabel ."
            ". . ."
            ". BreakingValue ."
            ". . .";

    background-color: red;
}

.BreakingLabel {
    grid-area: BreakingLabel;
    width: 100%;
    height: 100%;

    background-color: green;
}

.BreakingValue{
    grid-area: BreakingValue;
    width: 100%;
    height: 100%;

    background-color: green;
}





.FeedbackSubblock {
    grid-area: FeedbackSubblock;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((5*100%)/19.0) calc((2*100%)/19.0) calc((5*100%)/19.0) calc((2*100%)/19.0) calc((5*100%)/19.0);
    grid-template-rows: 100%;
    grid-template-areas:
            "FeedbackTrack . FeedbackTrain . FeedbackSensor";

    background-color: red;
}

.FeedbackTrack{
    grid-area: FeedbackTrack;
    width: 100%;
    height: 100%;

    background-color: green;
}

.FeedbackTrain{
    grid-area: FeedbackTrain;
    width: 100%;
    height: 100%;

    background-color: green;
}

.FeedbackSensor{
    grid-area: FeedbackSensor;
    width: 100%;
    height: 100%;

    background-color: green;
}




.ScoreBlock {
    grid-area: ScoreBlock;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: calc((1*100%)/18.0) calc((16*100%)/18.0) calc((1*100%)/18.0);
    grid-template-rows: calc((1*100%)/18.0) calc((16*100%)/18.0) calc((1*100%)/18.0);
    grid-template-areas:
            ". . ."
            ". ScoreSubblock ."
            ". . .";

    background-color: yellow;
}

.ScoreSubblock {
    grid-area: ScoreSubblock;
    width: 100%;
    height: 100%;

    background-color: red;
}





.ETABlock {
    grid-area: ETABlock;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: calc((18*100%)/19.0) calc((1*100%)/19.0);
    grid-template-rows: calc((1*100%)/12.0) calc((10*100%)/12.0) calc((1*100%)/12.0);
    grid-template-areas:
            ". ."
            "ETASubblock ."
            ". .";

    background-color: yellow;
}

.ETASubblock {
    grid-area: ETASubblock;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: calc((2*100%)/18.0) calc((4*100%)/18.0) calc((1*100%)/18.0) calc((4*100%)/18.0) calc((1*100%)/18.0) calc((4*100%)/18.0) calc((2*100%)/18.0);
    grid-template-rows: 10% 20% 10% 50% 10%;
    grid-template-areas:
            ". . . . . . ."
            ". ETALabel ETAValue ETAValue ETAValue ETADifference ."
            ". . . . . . ."
            ". ETAPlus ETAPlus . ETAMinus ETAMinus ."
            ". . . . . . .";

    background-color: red;
}

.ETALabel {
    grid-area: ETALabel;
    width: 100%;
    height: 100%;

    background-color: green;
}

.ETAValue {
    grid-area: ETAValue;
    width: 100%;
    height: 100%;

    background-color: green;
}

.ETADifference {
    grid-area: ETADifference;
    width: 100%;
    height: 100%;

    background-color: green;
}

.ETAPlus {
    grid-area: ETAPlus;
    width: 100%;
    height: 100%;

    background-color: green;
}

.ETAMinus{
    grid-area: ETAMinus;
    width: 100%;
    height: 100%;

    background-color: green;
}


